# Python
__pycache__/
*.py[cod]
*.so

# Virtual Environment
venv/
env/
.venv/

# Environment Variables
.env

# macOS
.DS_Store

# PyCharm
.idea/

# VS Code
.vscode/

# Jupyter Notebooks
.ipynb_checkpoints

# Distribution / packaging
dist/
build/
*.egg-info/

# Testing
.pytest_cache/
.coverage

# Logs
*.log

# Temporary files
*.tmp
*.bak
templates/btn/src/style.sass
templates/btn/src/script.js
templates/btn/src/index.pug
templates/btn/README.md
templates/btn/LICENSE.txt
